**/.dockerignore
**/.gitignore
**/.github
**/.vscode
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
node_modules
**/dist
**/generated
**/jest.config.*
**/jest.setup.*
**/jest.setup.js
**/jest.config.ts
**/nginx
**/docs
**/.env
README.md
